.footer {     
    bottom: 1px;
    width: 38%;
    padding: 1rem 0;
    box-shadow: 0 -2px 150px 20px var(--primary-color);
    z-index: 1000;
  }
  
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    footer {
      display: none;
    }
  }