/* this GlobalStyles is used to set de global mise en forme ,  linked to typescript customized theme ./theme.ts */
/*  https://styled-components.com/docs/api#createglobalstyle */
:root {
    font-family: var(--font-family);
    columns: var(--font-family);
    background-color: #333333;
}

