/* 01-11-2024 TLE : Header Styles */

header {
    display: flex;
    width: 100%;
    box-shadow: 0 -2px 150px 40px var(--primary-color);
    /* border: 10px solid rgb(91, 18, 94); */

  }

.header-nav {
    display: flex;
    justify-content: center;
    width: 50%;
    justify-content: center;
   /* border: 5px solid red; */
  }


/* Specific styles for tablets and larger screens */
@media (min-width: 768px) {
    header {
      /* Styles to apply only on tablets and larger screens */
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      /* border: 2px groove  var(--violet-light); */
     /* border-color: var(--violet-light); */
     

    }
  }

/* header hidden on mobile */
@media (max-width: 600px) {
    header {
      display: none;
    }
  }